.login-logo {
    min-width: 70%;
    width: 40vmin;
}

.main-title-text {
    color: rgba(0, 0, 0, 0.87);
}

.under-main-text {
    color: rgba(0, 0, 0, 0.6);
}

.send-button-text {
    line-height: 48px;
}
